@using diplom.data.Enum
@model Teacher


<form method="post" asp-action="Create">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Добавление Преподавателя</h2>
			<hr/>
		</div>
		<div class="mb-3">
			<label asp-for="FullName"></label>
			<input asp-for="FullName" class="form-control"/>
			<span asp-validation-for="FullName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Category"></label>
			<select asp-for="Category" asp-items="@Html.GetEnumSelectList<TeacherCategory>()">
				<option>---Select---</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Добавить</button>
		<a asp-controller="Teacher" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Отменить
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}
